<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <br><br>

          <div class="row g-3">

              <div class="col-md-5 col-lg-5 order-md-last">
              
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15301.705773269714!2d-68.1355203!3d-16.5045551!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2d5df2ff2c59e15b!2sUSM%20Motos%20La%20Paz!5e0!3m2!1ses-419!2sbo!4v1667393358400!5m2!1ses-419!2sbo" width="480" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>              </div>
          
              <div class="col-md-7 col-lg-7">
                <div class="mx-auto"><h1 class="mb-3" style="color: black; font-family: 'Boogaloo';font-size: 30px;">Contáctanos</h1></div>  
                  
                      <div class="row g-3">

                          <div class="col-sm-6">
                              <label for="lastName" class="form-label">Teléfono</label>
                              <input type="text" class="form-control" id="txt_3" name="Elab" placeholder="" value="" required>
                              <div class="invalid-feedback">
                                  Ingrese un Teléfono
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <label for="lastName" class="form-label">Correo Electrónico</label>
                              <input type="text" class="form-control" id="txt_4" name="Cadu" placeholder="" value="" required>
                              <div class="invalid-feedback">
                                  Ingrese un tipo
                              </div>
                          </div>

                          <div class="col-md-12">
                              <label for="lastName" class="form-label">Consulta</label>
                              <textarea name="text" class="form-control form-control-sm" id="txt_5" placeholder=""></textarea>                                 
                              
                          </div>
                          <div class="col-md-12">
                            <label for="lastName" class="form-label">Sugerencias</label>
                            <textarea name="text" class="form-control form-control-sm" id="txt_5" placeholder=""></textarea>                                 
                            
                          </div>

                          <button class="w-100 btn btn-primary btn-lg"  id="btnregistrar" onclick="validateData()">Enviar</button>
                          <hr class="my-2">

                              <p>Visítanos en nuestras redes sociales</p>
                              <div class="mx-auto">
                                <div class="social-icon">
                                  <button type="button"> <i class="fa fa-instagram"></i></button>
                                  <button type="button"><i class="fa fa-facebook"></i></button>
                                  <button type="button"><i class="fa fa-twitter"></i></button>
                              </div>
                              </div>    
                              
                              
                          <br><br>

                          
              
              </div>
          </div>
     
 

</div>