<br>
<link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee+Shade&family=Bungee+Spice&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet"><div class="container">
    <br>
    
    <div class="row">
        <div class="mx-auto">
            <br>
            <h1 class="title-1" style="font-family:'Bungee Shade';font-size: 40px;">CATALOGO DE MOTOS  </h1>
            <br>
        </div>
        
    </div>
    
    


<br>
    <div class="row">
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: 15000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: 15000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: 15000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: 15000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
      
        
        

    </div>
    <br>
    <div class="row">
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
      
        
        

    </div>
    <br>
    <div class="row">
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: 15000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: 15000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: 15000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: 15000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
      
        
        

    </div>
    <br>
    <div class="row">
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
      
        
        

    </div>
    <br>
</div>