<script src="https://kit.fontawesome.com/ae7c42763f.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee+Spice&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet"><mat-sidenav-container class="sidenav-container" >
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false" style="background-color: #2c7da0">
    <mat-toolbar>
      <span><h1 style="color: white; font-family: 'Boogaloo';font-size: 30px;">UCB   RIDER</h1></span> <br>
    </mat-toolbar>
    <span><img src="https://thumbs.dreamstime.com/b/motocicladora-serie-de-iconos-la-motocicleta-ilustraci%C3%B3n-vectorial-formato-adicional-eps-distintas-capas-para-una-edici%C3%B3n-169417767.jpg" width="198px" height="180px" alt="Los Tejos" /></span>

    <mat-nav-list >
      <a style="color: white;" mat-list-item href="home"><i class="zmdi zmdi-home"></i>Home</a>
      <a style="color: white;" mat-list-item href="productos">Motos</a>
      <a style="color: white;" mat-list-item href="formulario">Formulario</a>
      <a style="color: white;" mat-list-item href="contacto">Contactos</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content >
    <mat-toolbar color="primary" style="background-color: #2c7da0">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span ><h1 style="color: white; font-family: 'Boogaloo'; font-size: 40px;"> Tu mejor opción </h1></span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
