<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <br><br>

          <div class="row g-3">

          
              <div class="col-md-10 col-lg-10">
                <div class="mx-auto"><h1 class="mb-3" style="color: black; font-family: 'Boogaloo';font-size: 30px;">Contáctanos</h1></div>  
                  
                      <div class="row g-3">
                          <div class="col-sm-6">
                              <label for="firstName" class="form-label" >Nombres</label>
                              <input type="text" class="form-control" id="txt_1" name="Nomb" placeholder="" value="" required>
                              <div class="invalid-feedback">
                                  Ingrese un nombre
                              </div>
                          </div>

                          <div class="col-sm-6">
                              <label for="lastName" class="form-label">Apellidos</label>
                              <input type="text" class="form-control" id="txt_2" name="Type" placeholder="" value="" required>
                              <div class="invalid-feedback">
                                  Ingrese un tipo
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <label for="lastName" class="form-label">Teléfono</label>
                              <input type="text" class="form-control" id="txt_3" name="Elab" placeholder="" value="" required>
                              <div class="invalid-feedback">
                                  Ingrese un Teléfono
                              </div>
                          </div>
                          <div class="col-sm-6">
                              <label for="lastName" class="form-label">Correo Electrónico</label>
                              <input type="text" class="form-control" id="txt_4" name="Cadu" placeholder="" value="" required>
                              <div class="invalid-feedback">
                                  Ingrese un tipo
                              </div>
                          </div>

                          <div class="col-md-12">
                              <label for="lastName" class="form-label">Consulta</label>
                              <textarea name="text" class="form-control form-control-sm" id="txt_5" placeholder=""></textarea>                                 
                              
                          </div>
                          <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Reenviar mis respuestas a mi correo</label>
                        </div>

                        <br>
<link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee+Shade&family=Bungee+Spice&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet"><div class="container">
    
    <div class="row">
        <div class="mx-auto">
            <br>
            <h1 class="title-1" style="font-family:'Bungee Shade';font-size: 40px;">PRODUCTOS</h1>
            <br><br>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col-4 text-center caracteristicas  productos-card">
            <img src="https://img.remediosdigitales.com/56b43a/bmw-k-1600-gt-2022-035/450_1000.jpeg" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">K 1600 GT</h3>
            <p>Producto exclusivo</p>
            <p>Precio: 30000 $us</p>
            <p>Marca: BMW</p>
            
            <br>
            <a href="https://www.bmw-motorrad.bo/es/home.html#/filter-todo">Ir a tienda </a>
        </div>
        <div class="col-4 text-center caracteristicas  productos-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8s69sFlemF92y4U9b6fVCT0JI5-k6B_syBw&usqp=CAU" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Diavel V4</h3>
            <p>Precio: 25000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 1200</p>
            
            <br>
            <a href="https://www.bmw-motorrad.bo/es/home.html#/filter-todo">Ir a tienda </a>
        </div>
        <div class="col-4 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: 50000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>



    </div>
    <br><br>



    <br>
</div>

                          <button class="w-100 btn btn-primary btn-lg"  id="btnregistrar" >Enviar</button>
                          <hr class="my-2">
                          
                              <p>Visítanos en nuestras redes sociales</p>
                              <div class="social-icon">
                                  <button type="button"><i class="fa fa-instagram"></i></button>
                                  <button type="button"><i class="fa fa-facebook"></i></button>
                                  <button type="button"><i class="fa fa-twitter"></i></button>
                              </div>
                              
                          <br><br>

                          
              
              </div>
          </div>
     
 

</div>

<br>
