<br>
<link href="https://fonts.googleapis.com/css2?family=Boogaloo&family=Bungee+Shade&family=Bungee+Spice&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet"><div class="container">
    <br>
    
    <div class="row">
        <div class="mx-auto">
            <br>
            <h1 class="title-1" style="font-family:'Bungee Shade';font-size: 40px;">PRODUCTOS Estrella </h1>
            <br><br>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col-4 text-center caracteristicas  productos-card">
            <img src="https://img.remediosdigitales.com/56b43a/bmw-k-1600-gt-2022-035/450_1000.jpeg" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">K 1600 GT</h3>
            <p>Precio: 30000 $us</p>
            <p>Marca: BMW</p>
            <p>cc: 1600</p>
            
            <br>
            <a href="https://www.bmw-motorrad.bo/es/home.html#/filter-todo">Ir a tienda </a>
        </div>
        <div class="col-4 text-center caracteristicas  productos-card">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8s69sFlemF92y4U9b6fVCT0JI5-k6B_syBw&usqp=CAU" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Diavel V4</h3>
            <p>Precio: 25000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 1200</p>
            
            <br>
            <a href="https://www.bmw-motorrad.bo/es/home.html#/filter-todo">Ir a tienda </a>
        </div>
        <div class="col-4 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: 50000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>



    </div>
    <br><br>
    <div class="row">
        <div class="mx-auto">
            <br>
            <h1 class="title-1" style="font-family:'Bungee Shade';font-size: 40px;">PRODUCTOS EN OFERTA </h1>
            <br><br>
        </div>
        
    </div>


<br>
    <div class="row">
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
      
        
        

    </div>
    <br><br>
    <div class="row">
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
        <div class="col-3 text-center caracteristicas  productos-card">
            <img src="https://images.ctfassets.net/x7j9qwvpvr5s/Gw1ZwbrDMpoYd8Xd0vEu6/6701fe20af307bb2ea661fcfa4f3a2e8/Model-Menu-MY22-SF-V4-SP.png" alt="sis.jpg" width="160px" height="140px">
            <br>
            <br>
            <h3 style="font-family: 'Boogaloo'; font-size: 25px;">Ducati Sport GT</h3>
            <p>Precio: <del>15000 $us</del> 10000 $us</p>
            <p>Marca: Ducati</p>
            <p>cc: 2200</p>
 
            <br>
            <a href="https://www.ducati.com/es/es/home">Ir a tienda </a>
        </div>
      
        
        

    </div>
    <br>
</div>